.navbar{
    background-color: rgb(94, 154, 211);
}
.text-highlight{
    color: rgb(84, 142, 197);
}
.social-icons .social-icon:hover{
    background-color: rgb(94, 154, 211);
}
.py-i{
    max-width: 8.7%;
    margin-top: 0;
}
li{
    margin-bottom: 20px;
}
.i_cod{
    max-width: 4%;
}
@media (min-width: 992px) {
    .resume-section-content{
        margin-left: 5rem;
    }
    .i_cod{
        max-width: 4%;
    }
    .proj{
        max-width: 80%;
    }
}
@media (max-width: 700px){
    
    .proj{
        max-width: 70%;
        display: block;
    }
}