.navbar{
    background-color: rgb(94, 154, 211);
}
.text-highlight{
    color: rgb(84, 142, 197);
}
.social-icons .social-icon:hover{
    background-color: rgb(94, 154, 211);
}
.py-i{
    max-width: 8.9%;
    margin-top: 0;
}
@media (min-width: 992px) {
    .resume-section-content{
        margin-left: 5rem;
    }
}